# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg

# Virtual environment
venv/
.venv/
env/
.env/

# Distribution / build files
dist/
build/
*.egg-info/
.installed.cfg

# Editor-specific files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Jupyter Notebook files
.ipynb_checkpoints/

# Other temporary files
*.log
*.tmp

# Outputs
output/
